:root{
    --color01: #FEEBBE;
    --color02: #D92344;
    --color03: #F2CDA0;
    --color04: #F2935C;
    --color05: #403027;
    --font-koho: 'KoHo', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-stint: 'Stint Ultra Condensed', cursive;
}