@media screen and (max-width: 768px){
   .main-product .flex{
      flex-direction: column;
   }
}
@media screen and (max-width: 500px){
    .menu-desktop{
        display: none;
     }
     .menu-mobile{
        display: block;
     }
     
}